@import "tailwindcss";


@theme {
  --breakpoint-*: initial;
  --breakpoint-xsm: 320px;
  --breakpoint-2xsm: 375px;
  --breakpoint-3xsm: 425px;
  --breakpoint-4xsm: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;
  --breakpoint-4xl: 1660px;
  --breakpoint-5xl: 1920px;
  --breakpoint-6xl: 2048px;
  --breakpoint-7xl: 2560px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #640;
}

::-webkit-scrollbar-thumb:hover {
  background: #887c79;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}

@utility border-image-slice-repeat {
  border-width: 20px;
  border-style: solid;
  border-color: transparent;
  background-color: #dad1a0;
  border-image-source: url("/tart-szel.jpg");
  border-image-slice: 25;
  border-image-repeat: round;
}
