@import "tailwindcss";

@theme {
  --animate-loading-spinner: loading-spinner 1s linear infinite;

  --breakpoint-xsm: 320px;
  --breakpoint-2xsm: 375px;
  --breakpoint-3xsm: 425px;
  --breakpoint-4xsm: 500px;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #640;
}

::-webkit-scrollbar-thumb:hover {
  background: #887c79;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}

@utility border-image-slice-repeat {
  border-width: 20px;
  border-style: solid;
  border-color: transparent;
  background-color: #dad1a0;
  border-image-source: url("/tart-szel.jpg");
  border-image-slice: 25;
  border-image-repeat: round;
}

@layer utilities {
  .border-image-slice-repeat {
    @apply border-image-slice-repeat;
  }
}