.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-weight: bold;
	font-size: 24px;
	color: #d4af37;
}

.container:hover {
	color: #efbf04;
}

.cursorPointer {
	cursor: pointer;
}

@media all and (min-width: 1440px) and (max-width: 2560px) {
	.container {
		font-size: 2rem;
	}
}