.html {
  margin: 6px;
  padding: 6px;
  background-image: url('/hatter.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}

.main {
  min-width: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  margin: 0px auto;
  height: 270px;
  width: 100%;
  background-image: url('/fejlec.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  margin-top: 10px auto 0px auto;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.logoImg {
  margin: 20px auto 10px auto;
  min-width: 200px;
  position: absolute;
  top: 20px;
  object-fit: contain;
}

.menuContainer {
  position: absolute;
  top: 237px;
  z-index: 100;
}

.content {
  background-image: url("/tart-hatter.jpg");
  background-size: 100%;
  min-height: 500px;
}

.side {
  margin: 10px 25px;
}

.children {
  margin: 10px 25px;
  min-height: 110vh;
  border: 10px solid transparent;
  border-image: url("/tart-szel.jpg") 25 round;
  background-color: #dad1a0;
}

.footer {
  margin: 0px auto;
  background-image: url("/lablec.jpg");
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 90px;
}

/* MAX 320px */
@media all and (max-width: 320px) {
  .html {
    margin: 0px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_320.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 300px;
  }

  .menuContainer {
    position: absolute;
    top: 218px;
    z-index: 100;
  }

  .content {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
    background-image: url('/tart-hatter_320.jpg');
  }

  .side {
    margin: 0;
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

  .children {
    margin: 0px;
    width: 250px;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    background-image: url('/lablec_320.jpg');
    background-size: 100% 100%;
  }
}


/* MAX 375px */
@media all and (min-width: 321px) and (max-width: 375px) {
  .html {
    margin: 0px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_375.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 300px;
  }

  .menuContainer {
    position: absolute;
    top: 218px;
    z-index: 100;
  }

  .content {
    margin: 0;
    background-image: url('/tart-hatter_375.jpg');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
  }

  .side {
    margin: 0;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .children {
    margin: 3px;
    width: 320px;
    min-height: 110vh;
  }

  .footer {
    background-image: url('/lablec_375.jpg');
    background-size: 100% 100%;
  }
}


/* MAX 425px */
@media all and (min-width: 376px) and (max-width: 425px) {
  .html {
    margin: 0px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_375.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 300px;
  }

  .menuContainer {
    position: absolute;
    top: 220px;
    z-index: 100;
  }

  .content {
    margin: 0;
    background-image: url('/tart-hatter_375.jpg');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
  }

  .side {
    margin: 0;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .children {
    margin: 3px;
    width: 400px;
    min-height: 110vh;
  }

  .footer {
    background-image: url('/lablec_375.jpg');
    background-size: 100% 100%;
  }
}


/* MAX 500px */
@media all and (min-width: 426px) and (max-width: 500px) {
  .html {
    margin: 0px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_375.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 300px;
  }

  .menuContainer {
    position: absolute;
    top: 220px;
    z-index: 100;
  }

  .content {
    margin: 0;
    background-image: url('/tart-hatter_375.jpg');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
  }

  .side {
    margin: 0;
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .children {
    margin: 3px;
    width: 450px;
    min-height: 110vh;
  }

  .footer {
    background-image: url('/lablec_375.jpg');
    background-size: 100% 100%;
  }
}


/* MAX 640px */
@media all and (min-width: 501px) and (max-width: 640px)  {
  .html {
    margin: 0px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_640.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 340px;
  }

  .menuContainer {
    position: absolute;
    top: 218px;
    z-index: 100;
  }

  .content {
    margin: 0;
    background-image: url('/tart-hatter_640.jpg');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
  }

  .side {
    margin: 0;
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .children {
    margin: 3px;
    width: 500px;
    min-height: 110vh;
  }

  .footer {
    background-image: url('/lablec_640.jpg');
    background-size: 100% 100%;
  }
}


/* MAX 768px */
@media all and (min-width: 641px) and (max-width: 768px) {
  .html {
    margin: 5px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_768.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 350px;
  }

  .menuContainer {
    position: absolute;
    top: 222px;
    z-index: 100;
  }

  .content {
    margin: 0;
    background-image: url('/tart-hatter_768.jpg');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
  }

  .side {
    margin: 0;
    width: 750px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .children {
    margin: 3px;
    width: 700px;
    min-height: 110vh;
  }

  .footer {
    background-image: url('/lablec_768.jpg');
    background-size: 100% 100%;
  }
} 


/* MIN 768px MAX 1024px */
@media all and (min-width: 769px) and (max-width: 1024px) {
  .html {
    margin: 7px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_768.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 350px;
  }

  .menuContainer {
    position: absolute;
    top: 222px;
    z-index: 100;
  }

  .content {
    background-image: url('/tart-hatter_768.jpg');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
  }

  .side {
    width: 850px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .children {
    width: 850px;
    min-height: 110vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer {
    background-image: url('/lablec_768.jpg');
    background-size: 100% 100%;
  }
}



/* MIN 1025px - MAX 1440px */
@media all and (min-width: 1025px) and (max-width: 1280px) {
  .html {
    margin: 7px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_1280.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 350px;
  }

  .menuContainer {
    position: absolute;
    top: 225px;
    z-index: 100;
  }

  .content {
    margin: 0;
    min-height: 120vh;
    background-image: url('/tart-hatter_1280.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: start center;
    place-content: space-evenly;
  }

  .side {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .children {
    width: 850px;
    min-height: 115vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    background-image: url('/lablec_1280.jpg');
    background-size: 100% 100%;
  }
}

@media all and (min-width: 1281px) and (max-width: 1440px) {
.html {
    margin: 7px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_1280.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 350px;
  }

  .menuContainer {
    position: absolute;
    top: 225px;
    z-index: 100;
  }

  .content {
    margin: 0;
    min-height: 120vh;
    background-image: url('/tart-hatter_1280.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: start center;
    place-content: space-evenly;
  }

  .side {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .children {
    width: 850px;
    min-height: 115vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    background-image: url('/lablec_1280.jpg');
    background-size: 100% 100%;
  }
}


/* MIN 1281px - MAX 1440px */
@media all and (min-width: 1441px) and (max-width: 1920px) {
  .html {
    margin: 7px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_1280.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 350px;
  }

  .menuContainer {
    position: absolute;
    top: 225px;
    z-index: 100;
  }

  .content {
    margin: 0;
    background-image: url('/tart-hatter_1280.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    palce-items: start center;
    place-content: space-evenly;
  }

  .side {
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  .children {
    width: 1400px;
    min-height: 110vh;
  }

  .footer {
    background-image: url('/lablec_1280.jpg');
    background-size: 100% 100%;
  }
}

@media all and (min-width: 1921px) and (max-width: 2560px) {
  .html {
    margin: 7px;
    padding: 0px;
  }

  .header {
    background-image: url('/fejlec_1280.jpg');
    background-size: 100% 100%;
  }

  .logoImg {
    width: 350px;
  }

  .menuContainer {
    position: absolute;
    top: 220px;
    z-index: 100;
  }

  .content {
    margin: 0;
    background-image: url('/tart-hatter_1280.jpg');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: start center;
    place-content: center;
  }

  .side {
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .children {
    width: 1400px;
    min-height: 110vh;
  }

  .footer {
    background-image: url('/lablec_1280.jpg');
    background-size: 100% 100%;
  }
}
